[project]
	description = A crapy wrapper around swanctl.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Grindizer
[access "refs/for/refs/*"]
	read = group user/Grindizer
	push = group user/Grindizer
	label-Code-Review = -2..+2 group user/Grindizer
	label-Verified = -1..+1 group user/Grindizer
	rebase = group user/Grindizer
	removeReviewer = group user/Grindizer
	submit = group user/Grindizer
[access "refs/heads/*"]
	read = group user/Grindizer
	create = group user/Grindizer
	push = +force group user/Grindizer
	pushMerge = group user/Grindizer
[access "refs/tags/*"]
	push = group user/Grindizer
	push = +force group user/Grindizer
